<div ng-controller="showUsersController">
	<nav class="navbar navbar-default">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Bucket List</a>
	    </div>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#/dashboard">Home</a></li>
			<li><button id="logOut" ng-click="logOut()">Log Out</button></li>
		</ul>
	  </div><!-- /.container-fluid -->
	</nav>
	<div class="container">
		<h3>{{user}}'s Bucket List</h3>
		<h4>Done</h4>
		<form ng-repeat="item in doneItems">
			<input 
				type="checkbox" 
				value="{{item}}" 
				ng-model="formData.item._id"
				ng-click="addCheck(item._id)"
				ng-disable="disable()"
				ng-checked="true">
			{{item.created_by_name}} | {{item.title}} | {{item.createdAt}}<br>
		</form>
		<h4>Pending</h4>
		<form ng-repeat="item in pendingItems">
			<input 
				type="checkbox" 
				value="{{item}}" 
				ng-model="formData.item._id"
				ng-click="addCheck(item._id)"
				ng-disable="disable()">
			{{item.created_by_name}} | {{item.title}} | {{item.createdAt}}<br>
		</form>
	</div>
</div>